# Created by .ignore support plugin (hsz.mobi)
将删除 .gitignore
将删除 .idea/inspectionProfiles/
将删除 .idea/workspace.xml
将删除 blog/__pycache__/
将删除 blog/migrations/__pycache__/
将删除 blog/templatetags/__pycache__/
将删除 blogproject/__pycache__/
将删除 comments/__pycache__/
将删除 comments/migrations/__pycache__/
将删除 comments/templatetags/__pycache__/
db.sqlite3
bcrypt             3.2.0
cffi               1.14.3
cryptography       3.1.1
fabric             2.5.0

!/_credentials.py
/_credentials.py
